<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于我们

Mblog是一个支持高并发的多用户博客系统，特点是界面简约清爽，体积小，部署简单，体验有好，同时支持高并发。

### 加入社区

如果你有好的建议，欢迎提给Mblog提pull request，加入社区，一起维护
https://github.com/immissile/mblog

如果发现系统有bug，欢迎在这里交流
https://github.com/immissile/mblog/issues

*/
        })) %>
      </div>
    </div>
  </div>
</div>
